/* styles/MovieCard.module.css */
.gridContainer {
	display: grid;
	grid-template-columns: repeat(5, 1fr); /* Ensure 5 columns */
	gap: 1rem; /* Adjust the gap between movie cards */
}

.card {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	height: 100%;
	border-radius: 8px;
	overflow: hidden;
	transition: transform 0.3s ease-in-out;
	cursor: pointer;
	background-color: white;
}

.card:hover {
	transform: scale(1.05); /* Add a slight zoom on hover */
}

.imageContainer {
	position: relative;
	width: 100%;
	padding-top: 150%; /* 2:3 aspect ratio for the poster */
	overflow: hidden;
}

.imageContainer img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.content {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.title {
	font-size: 1.22rem; /* 18px */
	line-height: 1.5rem; /* 28px */
	font-weight: bold;
	color: #1f2937;
	min-height: 48px; /* Adjust based on expected title length */
}

.movieInfo {
	font-size: 1rem;
	color: #595f6c;
	margin-top: auto;
}

@media (max-width: 1279px) {
	.gridContainer {
		grid-template-columns: repeat(4, 1fr); /* 4 columns on smaller desktop screens */
	}
}

@media (max-width: 1024px) {
	.gridContainer {
		grid-template-columns: repeat(3, 1fr); /* 3 columns on smaller screens */
	}
}

@media (max-width: 768px) {
	.gridContainer {
		grid-template-columns: repeat(2, 1fr); /* 2 columns on tablet screens */
        grid-template-rows: repeat(3, auto); /* Ensure 3 rows */
	}
}

@media (max-width: 480px) {
	.gridContainer {
		grid-template-columns: 1fr; /* 1 column on mobile screens */
	}
}
