.paginationContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.paginationButton {
    padding: 8px 16px;
    margin: 0 10px;
    background-color: #0070f3;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.paginationButton:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

.pageInfo {
    font-size: 16px;
}
