.transactionsContainer {
    padding: 20px;
    background-color: #a19b9b;
}

.transactionTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.transactionTable th,
.transactionTable td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.transactionTable th {
    background-color: #7e807e;
    color: white;
}
